.App {
  margin: 5%;
}

.main {
  background-color: whitesmoke;
  min-height: 100vh;
  align-items: left;
  justify-content: left;
  color: black;
}

.title {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: bold;
}

.subTitle {
  font-size: calc(1rem + 1.0vw);
  font-weight: bold;
}

.submitButton {
  color: white;
  background-color: rgb(90, 80, 231);
  border-color: rgb(90, 80, 231);
  font: medium;
}

.columns {
  display: block;
}

.moviesBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 10px;
  font-size: medium;
}

.body {
  font-size: medium;
  font-weight: normal;
}
